<md-toolbar class="md-tall tool-bar" layout="row" ng-controller="MainToolbarController">
  <div flex layout="column">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between">
      <md-button aria-label="side nav" ng-click="toggleSideNav()">
        <i class="mdi mdi-menu" ></i>
      </md-button>
      <md-button aria-label="configuration">
        <i class="mdi mdi-dots-vertical"></i>
      </md-button>
    </div>

    <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
      <md-button aria-label="back" ng-click="goBack()">
        <i class="mdi mdi-arrow-left"></i>
      </md-button>
      <md-button aria-label="forward" ng-click="goForward()">
        <i class="mdi mdi-arrow-right"></i>
      </md-button>
      <span ng-repeat="dir in directories">
        <md-button class="folder" ng-click="navToDir($index)">{{ dir }}</md-button>
        <span ng-if="!$last"><i class="mdi mdi-chevron-right"></i></span>
      </span>
    </h2>
  </div>
</md-toolbar>