<div ng-controller="MainController" layout="column" flex class="main">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" flex><md-toolbar class="md-tall tool-bar" layout="row">
    <div flex layout="column">
      <div class="md-toolbar-tools" layout="row">
        <i class="mdi mdi-arrow-left" ng-click="toggleSideNav()"></i>
      </div>
    </div>
  </md-toolbar>
    <div ng-click="goToDir('E:')">E:</div>
    <div ng-click="goToDir('C:')">C:</div>
  </md-sidenav>
  <md-toolbar class="md-tall tool-bar" layout="row" >
    <div flex layout="column">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between">
        <i class="mdi mdi-menu" ng-click="toggleSideNav()"></i>
        <i class="mdi mdi-dots-vertical"></i>
      </div>

      <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        <span ng-repeat="dir in directories">
          <span class="folder" ng-click="navToDir($index)">{{ dir }}</span>
          <span ng-if="!$last"><i class="mdi mdi-chevron-right"></i></span>
        </span>
      </h2>
    </div>
  </md-toolbar>
  <div layout="row" layout-wrap layout-padding flex class="files">
    <div flex="25" ng-repeat="file in files track by file.path" class="file"
         ng-click="selectItem(file)" ng-dblclick="openFile(file)"
         ng-class="{ selected: selectedItem == file }">
      <md-card class="tile" ng-class="{ 'md-whiteframe-z2': selectedItem == file }">
        <div ng-if="file.isFolder" layout="column" layout-align="center center" flex>
          <i class="mdi mdi-folder"></i>
        </div>
      </md-card>
      <div class="text" ng-class="{ 'md-whiteframe-z2': selectedItem == file }">
        <span>{{ file.name }}</span>
      </div>
    </div>
  </div>
</div>