<div ng-controller="MainController" layout="row" layout-wrap layout-padding class="files">
  <div flex="25" ng-repeat="file in files track by file.path" class="file"
       ng-click="selectItem(file)" ng-dblclick="openFile(file)"
       ng-class="{ selected: selectedItem == file }">
    <md-card class="tile" ng-class="{ 'md-whiteframe-z2': selectedItem == file }">
      <div ng-if="file.isFolder" layout="column" layout-align="center center" flex>
        <i class="mdi mdi-folder"></i>
      </div>
    </md-card>
    <div class="text">
      <span>{{ file.name }}</span>
    </div>
  </div>
</div>