.side-panel{
  width: @increment * 6;
  background-color: #F5F5F5;

  .tool-bar{
    background-color: #039BE5;

    .item-name {
      font-size: 0.8em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .item-description {
      font-size: 0.6em;
      opacity: .7;
    }
  }

  .preview{
    height: 420px;
  }

  .info{
    padding: 0 16px;
    font-size: .8em;
    opacity: .87;
    .title{
      font-weight: 500;
    }
    .text{
      opacity: .6;
    }

    .item{
      margin-bottom: 12px;
    }
  }
}